@font-face {
    font-family: 'aleoregular';
    src: url('../fonts/Aleo-Regular-webfont.eot');
    src: url('../fonts/Aleo-Regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aleo-Regular-webfont.woff') format('woff'),
         url('../fonts/Aleo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Aleo-Regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'aleobold';
    src: url('../fonts/Aleo-Bold-webfont.eot');
    src: url('../fonts/Aleo-Bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aleo-Bold-webfont.woff') format('woff'),
         url('../fonts/Aleo-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Aleo-Bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;

}






 /*CSS Document */
 
#top-header {
	margin-top: 35px;
	padding: 16px;	
	padding: 1.6rem;
}

#site-heading {
	font-size: 24px;
	font-weight: 800;
	line-height:1.2;

}

.specialblue{
	color:#0196D4;
	
}


.navbar-brand {
	margin: 0;
	padding: 8px 4px;
}

.addpadding{
	padding-top:78px;
	
}


/*Main Navi*/
.navi-single-line{
	height:58px;
	
}


#mnavi.affix {
    position: fixed;
    top: 35px;
    width: 100%;
    z-index:10;
}

/*Form fields*/

.inqfeild{
	width:50%;
	float:left;
}

.inqlastname{
	display:none;
}
.f_error{
	color:#F00;
	
}
.f_success{
	color:#090;
	
	
}
.addtomylist{
	float:right;
	
}
/*Color boxs*/
.redbox{
	color:#F00;
	
}

.dgray{
	color:#999;
	
	
}

.lgray{
	color:#F2F2F2;

	
}
.redcapboldtext{
	color:#F00;
	text-transform:uppercase;
	font-weight:bold;

	

	
	
}
.blackcapboldtext{
	color:#000;
	text-transform:uppercase;
	font-weight:bold;
}

.blacknomboldtext{
	color:#000;
	font-weight:bold;
}


/*Downloads panels*/
.panel-heading{
	padding:0;
	
}


.accordHeadings{
	padding-bottom:3px;
	padding-top:3px;
}
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: left;
    color: red;
	padding-right:5px;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

@media (max-width: 991px) {
		#top-header {
		margin-top: 0;
	}
	#site-heading {
		text-align: center;
		font-size: 18px;
	}

	#top-header  {
		display: none;
	}
	#mnavi.affix {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index:10;
}

.navi-single-line{
	height:45px;
	
}

}

.navbar-nav li a { 
	font-size: 11px;
	line-height: 1.3;
}

.hdactive a{
	color:#065BA8 !important;
	
}



.navbar-sm { min-height:35px; height: 35px; }
.navbar-sm .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 35px; }
.navbar-sm .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 35px; }

/* style for center navbar
@media (min-width: 1200px) { 

	.navbar > .container {
	    text-align: center;
	}
	
	.navbar-header,.navbar-brand,.navbar .navbar-nav,.navbar .navbar-nav > li {
	    float: none;
	    display: inline-block;
	    vertical-align: top;
	}

	.navbar .navbar-nav > li > a {
		text-align: left;
	}

	.collapse.navbar-collapse {
		float: none;
		display: inline-block!important;
		width: auto;
		clear: none;
	}
}*/

@media (max-width: 1199px){
	.navbar-nav li a {
		font-size: 9px;
	}
}


/* footer styling */

.footnote { 

	background-color: #ddd;
	text-align: center;
	color: #999;
}

.footer-heading {
	padding: 0;
	margin: 0;
	color: #777;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 800;
	margin-bottom: 20px;
}

.footer-heading2 {
	padding: 0;
	margin: 0 0 20px 0;
	color: #777;
	font-size: 16px;
	line-height: 1.7;
	font-weight: 800;
}

footer p {
	font-size: 12px;
	color: #777;
}

.footer-reports li {
	display: inline-block;
	background: #ccc;
	margin: 5px;
	padding: 10px;
	font-size: 10px;
	text-align: center;
}

.footer-reports li img {
	margin-bottom: 5px;
}

.footer-reports a {
	color: #666;
}

.footer-reports li:hover {
	color: #333;
	background: #BBB;
}

.footer-reports a:hover {
	text-decoration: none;
	color: #fff;
}

@media (max-width: 1199px){
		#footer-top {
			display: none;
		}

		.footnote {
			font-size: 9px;
		}

	}

#footer-menu2 > .container-fluid {
	text-align: center;
}	

#footer-menu2 {
	margin-bottom: 0;
}

#footer-menu2 li {
	display: inline-block  ;
}

@media (max-width: 480px) {
	#footer-menu2 li {
		display: inline-block ;
	}
	.navi-single-line{
	height:45px;
	
}

}
/*

@media (min-width:1024px) { 
	.navbar > .container {
	    text-align: center;
	}

	.navbar-header,.navbar-brand,.navbar .navbar-nav,.navbar .navbar-nav > li {
	    float: none;
	    display: inline-block;
	}

	.collapse.navbar-collapse {
	    float: none;
	    display: inline-block!important;
	    width: auto;
	    clear: none;
	}
}

*/
p {	font-family: "Open sans", sans-serif;	font-size: 15px; line-height: 20px;	color: #444444;	margin-bottom: 20px;}

h1, h2, h3, h4, h5, h6 { font-family: 'Open sans', sans-serif}

h1 {
	font-weight: normal ;
	font-size: 25px;
	color: #123974;
	line-height: 30px;
	padding: 0px;
	margin: 0px 0px 25px 0px;
	font-family:aleobold, "Helvetica Neue", Helvetica, Arial, sans-serif;

}
h2 { font-weight: normal; letter-spacing: 0.02em; font-size: 21px;	color: #000000; line-height:25px; padding:0px; margin:10px 0px 10px 0px; font-family:aleobold, "Helvetica Neue", Helvetica, Arial, sans-serif;  }
h3 {
	font-weight: normal ;
	font-size: 19px;
	color: #5C5C5C;
	line-height: 22px;
	padding: 0px;
	margin: 10px 0px 10px 0px;
	font-family:aleobold, "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0.02em; 
}
h4 {font-family:aleobold, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal ; font-size: 17px; color: #000; line-height:20px; padding:0px; margin:10px 0px 10px 0px; }
h5 {font-family:aleoregular, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal ; font-size: 15px; color: #333; line-height:18px; padding:0px; margin:10px 0px 10px 0px; }
h6 { font-family:aleoregular, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal ; font-size: 15px; color: #606060; line-height:18px; padding:0px; margin:10px 0px 10px 0px; }
h6.ital_font {font-family:aleoregular, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal ; font-size: 14px; color: #606060; font-style: italic; line-height:18px; padding:0px; margin:10px 0px 10px 0px;}









.box-highlight {
	margin: 5px;
	text-align: center;
	padding: 	0px;
	background: #ccc;
	height: 130px;
}

.row-inline {display: inline;}



.thumbnail .caption {font-size: 11px;}

.float_and_margin{ float:left; margin:10px 20px 10px 0px;}
.nofloat_and_margin{ float:none; margin:10px 20px 10px 0px;}

.caption01 { font-size:12px; font-style:italic; }


@media screen and (max-width:650px) {
.float_and_margin{ float: none; margin:10px 20px 10px 0px;}
.navi-single-line{
	height:45px;
	
}


}

p.table-caption { font-size: 12px; font-style: italic; margin-top: 5px;}
.text-red { color:#f00; font-weight: 600; }
.text-red-caps {text-transform: uppercase; color:#f00; font-weight: 600; }
.text-black { color: #000; font-weight: 600; }

.lifter-1 { font-size:26px;	font-weight:400; color:#F3BB25; font-style:italic; line-height:32px; }
.lifter-2 { font-size:18px; font-weight:600;  margin:auto 0; font-style:italic; }
.lifter-msg { font-size:22px; line-height:28px; color:#1F6CB8; font-weight:300;  margin:auto 0; font-style: normal; margin-bottom:15px; }

.lifter-small {font-size:32px; }

.vcenter { display: inline-block; vertical-align: middle;}

.dia-heading { text-align:center; background:#DBDCDE; padding:10px; margin: 5px 0; }

.dia-heading > h3 { margin:0; padding:0 }

.dia-box { text-align:center; background:#EDEEF0; }

.dia-box img { margin:auto; display:block }

/*######## LISt STYLES ########*/
/*######## LISt STYLES ########*/

.list {	list-style: none; padding:0px; margin:0px; color: #333; }
.list-dash > li:before { content:"-"; position:relative; left:-5px;}
.list-dash > li {text-indent:-5px; margin-bottom: 10px; padding-left:20px;}

.list-circle > li {list-style-type:circle; text-indent: 0; margin-bottom: 5px;}
/*.list-disc > li { list-style-type: disc; text-indent: 0; margin-bottom: 5px; color:}*/

.list-disc > li:before { font-family:Arial, Helvetica; font-size:25px; position:relative; top:4px; content: "\2022"; color: #949494; padding-right: 10px; margin-left: -20px;}
.list-disc > li {list-style: outside none none; margin:0px 0px 4px 0px; line-height:20px; margin-bottom: 5px; margin-left:20px; }

ul.list-disc { margin-bottom:25px;}

.list-abc > li { list-style-type: lower-alpha; text-indent: 0; margin-bottom: 5px; margin-left:20px;}
.list-ABC > li { list-style-type: upper-alpha; text-indent: 0; margin-bottom: 5px; margin-left:20px;}
.list-iii > li { list-style-type: lower-roman; text-indent: 0; margin-bottom: 5px; margin-left:20px;}
.list-123 > li { list-style-type: decimal; text-indent: 0; margin-bottom: 8px; margin-left:20px; }

ul.top-links ul li { list-style:none; }

.dlstyle > dt {float:left;}



/*######## TABLE STYLES ########*/

thead.fin tr:first-child {border-top: 2px #000 solid; }
thead.fin tr { padding: 5px 10px 5px 5px; font-size: 90%; background-color:#FFFFFF; border-bottom: 1px #000 solid; }
table.finTbl tbody tr:last-child { border-bottom: 2px #000 solid; }
table.finTbl { margin-bottom:20px; }

table { width:100%; border-spacing: 0; border-collapse: collapse;}
thead td { padding: 5px 10px 5px 5px; font-size: 90%; background-color:#FFFFFF; }
tbody td  {	padding: 5px 10px 5px 5px; border-bottom: 1px #E5E5E5 solid; vertical-align:top; }
tbody.no-padding td { padding:0; }
tbody > tr:hover { background-color: #f5f5f5; }
table.hover-none > tbody > tr:hover { background-color: #fff;}

table.table-rowstyle tbody tr:nth-child(2n+1) { background: #f6f6f6; }

table.small thead td, table.small tbody stall { padding:2px 2px; font-size:70% ;}

thead.head-1rwL tr:first-child { border-top: 2px #f00 solid;}
/*thead.head-1rwL tr:last-child td { border-bottom: 2px #f00 solid;}*/
thead.head-1rwL tr td { vertical-align: top;}

thead.head-1rw tr:first-child { border-top: 2px #f00 solid;}
thead.head-1rw tr:first-child td+td { text-align: right; }
/*thead.head-1rw tr:last-child td { border-bottom: 2px #f00 solid;}*/
thead.head-1rw tr td { vertical-align: top;}



thead.head-2rw tr:first-child { border-top: 2px #f00 solid;}
thead.head-2rw tr:first-child td+td { text-align: center; border-bottom: 1px #f00 solid;}
thead.head-2rw tr:last-child td { border-bottom: 2px #f00 solid;}
thead.head-2rw tr td { vertical-align: top;}

thead.head-3rw tr:first-child { text-align: center; border-top: 2px #f00 solid; border-bottom: 1px #f00 solid; }
thead.head-3rw tr:nth-child(2) { text-align: right; border-bottom: 1px #f00 solid; }
thead.head-3rw tr:nth-child(3) { text-align: right; border-bottom: 2px #f00 solid;}
thead.head-3rw tr td { vertical-align: top;}

thead.head-4rw tr:first-child { text-align: center; border-top: 2px #f00 solid;}
thead.head-4rw tr:nth-child(2) { background: #FFBFBF; text-align: center;}
thead.head-4rw tr:nth-child(3) { background: #FFBFBF; text-align: right;}
thead.head-4rw tr:nth-child(4) { background: #FFBFBF; text-align: right;}
thead.head-4rw tr:nth-child(5) { border-bottom: 2px #f00 solid;}
thead.head-4rw tr:last-child td { height: 5px;}
thead.head-4rw tr td { vertical-align: top;}

td.cy,
thead.cy-2 tr:nth-child(2) td:nth-child(2),
thead.cy-3 tr:nth-child(2) td:nth-child(3),
thead.cy-4 tr:nth-child(2) td:nth-child(4),
thead.cy-5 tr:nth-child(2) td:nth-child(5),
thead.cy-6 tr:nth-child(2) td:nth-child(6),
thead.cy-7 tr:nth-child(2) td:nth-child(7),
thead.cy-8 tr:nth-child(2) td:nth-child(8),
thead.cy-9 tr:nth-child(2) td:nth-child(9),
thead.cy-10 tr:nth-child(2) td:nth-child(10),
thead.cy-11 tr:nth-child(2) td:nth-child(11)
 {
	color: #f00;
}

thead.right-2 tr td+td, tbody.right-2 td+td {text-align: right;}
thead.right-3 tr td+td+td, tbody.right-3 td+td+td {text-align: right;}
thead.right-4 tr td+td+td+td, tbody.right-4 td+td+td+td {text-align: right;}
thead.right-5 tr td+td+td+td+td, tbody.right-5 td+td+td+td+td {text-align: right;}

tbody.cy-2 td:nth-child(2) { font-weight: 700;}
tbody.cy-3 td:nth-child(3) { font-weight: 700;}
tbody.cy-4 td:nth-child(4) { font-weight: 700;}
tbody.cy-5 td:nth-child(5) { font-weight: 700;}
tbody.cy-6 td:nth-child(6) { font-weight: 700;}
tbody.cy-7 td:nth-child(7) { font-weight: 700;}
tbody.cy-8 td:nth-child(8) { font-weight: 700;}
tbody.cy-9 td:nth-child(9) { font-weight: 700;}
tbody.cy-10 td:nth-child(10) { font-weight: 700;}
tbody.cy-11 td:nth-child(11) { font-weight: 700;}

tr.line-redtn td, td.line-redtn { border-bottom: 1px #000 solid;}
tr.line-redtntp td, td.line-redtntp { border-top: 1px #F3BB25 solid;}
tr.line-redtk td{ border-bottom: 2px #000 solid;}
tr.line-redtktp td { border-top: 4px #00ADCF solid;}
thead tr.line-none td, tr.line-none td {border-bottom: none;}


tr.line-blkthin td { border-bottom: 1px #000 solid }
tr.line-blkthick td { border-bottom: 2px #000 solid }
tr.line-blkthickTp td { border-top: 2px #000 solid }


tr.bg-grey td, td.bg-grey { background-color:#eee; }

td.cell-red { background-color:#f00; color:#fff; padding:20px; }
td.cell-grey { background-color:#eee; padding:20px; }
td.cell-grey2 { background-color:#ccc; padding:20px; }

td h2 { padding: 0; margin: 0;}
td h3 { padding: 0; margin: 0;}

tr.v-bottom td, td.v-bottom {vertical-align: bottom;}
tr.v-top td, td.v-top { vertical-align:top; }
td.align-left, tr.align-left td {text-align: left;}
td.align-right, tr.align-right td {text-align: right;}
.cell-center, tr.align-center td {text-align: center;}



.tabletop td{ vertical-align:top; }

.tablevborder{
	border-left: 1px solid #E5E5E5;
	border-right:1px solid #E5E5E5;

}

.borderbottomnon {
	border-bottom-style:none;
}


.tbl-graph { width:100%; background-color:#EEEFEF; padding:10px; text-align:center; vertical-align:middle; }



.button_add {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 4px 10px;
	color: #666666;
	font-family: 'Open sans', sans-serif;
	text-decoration: none;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
    opacity:1;
	
	
}
.button_add:hover,
.button_add:focus {
	color: #000000;
	text-decoration: none;
	opacity:1;
	transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-webkit-transition: all 300ms linear;

}
.button_add:active {
    background: #777777;
    background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#8c8a88));
    background: -moz-linear-gradient(top, #777777, #8c8a88);
    background: linear-gradient(to bottom, #777777, #8c8a88);
}
.button_add:before{
    content:  "\0000a0";
    display: inline-block;
    height: 17px;
    width: 17px;
    line-height: 20px;
    margin: 7px 7px 2px 0px;
    position: relative;
    top: 0px;
    left: 0px;
	background-size: 100% 100%;
	background-color: transparent;
	background-image: url(../images/add.html);
	background-repeat: no-repeat;
	background-position: left center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
    opacity:1;

}
.button_add:hover::before{
	background-image: url(../images/add2.html);
	opacity:1;
	transition: all 100ms linear;
	-o-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-webkit-transition: all 100ms linear;

}




.button_remove {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 4px 10px;
	color: #666666;
	font-family: 'Open sans', sans-serif;
	text-decoration: none;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
}
.button_remove:hover,
.button_remove:focus {
	color: #000000;
	text-decoration: none;
}
.button_remove:active {
    background: #777777;
    background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#8c8a88));
    background: -moz-linear-gradient(top, #777777, #8c8a88);
    background: linear-gradient(to bottom, #777777, #8c8a88);
}

.button_remove:before{
    content:  "\0000a0";
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 22px;
    margin: 0 7px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
	background-size: 100% 100%;
	background-color: transparent;
	background-image: url(../images/remove.html);
	background-repeat: no-repeat;
	background-position: left center;
}
.button_remove:hover::before{
	background-image: url(../images/remove2.html);
}





.button_pdf {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 4px 10px;
	color: #666666;
	font-family: 'Open sans', sans-serif;
	text-decoration: none;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
}
.button_pdf:hover,
.button_pdf:focus {
	color: #000000;
	text-decoration: none;
}
.button_pdf:active {
    background: #777777;
    background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#8c8a88));
    background: -moz-linear-gradient(top, #777777, #8c8a88);
    background: linear-gradient(to bottom, #777777, #8c8a88);
}
.button_pdf:before{
    content:  "\0000a0";
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 24px;
    margin: 0 7px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
	background-size: 100% 100%;
	background-color: transparent;
	background-image: url(../images/pdf.html);
	background-repeat: no-repeat;
	background-position: left center;
}

.button_pdf:hover::before{
	background-image: url(../images/pdf2.html);
}


.button_zip {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 4px 10px;
	color: #666666;
	font-family: 'Open sans', sans-serif;
	text-decoration: none;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
}
.button_zip:hover,
.button_zip:focus {
	color: #000000;
	text-decoration: none;
}
.button_zip:active {
    background: #777777;
    background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#8c8a88));
    background: -moz-linear-gradient(top, #777777, #8c8a88);
    background: linear-gradient(to bottom, #777777, #8c8a88);
}
.button_zip:before{
    content:  "\0000a0";
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 24px;
    margin: 0 7px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
	background-size: 100% 100%;
	background-color: transparent;
	background-image: url(../images/zip.html);
	background-repeat: no-repeat;
	background-position: left center;
}

.button_zip:hover::before{
	background-image: url(../images/zip2.html);
}

.button_wrap_mr{
	margin-bottom:10px;
	
	}
	
	














body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}




.light {
    font-weight: 400;
}


.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-attachment: scroll;
	background-image: url(../images/intro-bg.html);
	background-repeat: no-repeat;
	background-position: center bottom;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 30px;
	font-weight: 700;
	color: #FFF;
	margin-top: 0px;
	margin-bottom: 10px;
}

.intro .intro-body .intro-text {
    font-size: 20px;
	font-weight:300;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 30px;
    }

    .intro .intro-body .intro-text {
        font-size: 20px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 150px;
	padding-bottom:50px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.html) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 150px;
		padding-bottom:50px;

    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}



.thumbnail2 {
    position:relative;
    overflow:hidden;
	margin-bottom:20px;
}
 
.caption2 {
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
	padding: 35% 2% 2% 2%;
    display: none;
	background-color: rgba(0,0,0,0.75);
    text-align:center;
    z-index:2;}


.caption2 h4 {
	font-weight: 500;
	font-size: 16px;
	color: #F00;
	margin: 0px 0px 5px 0px;

}

.caption2 p {
	margin: 0px 0px 5px 0px;
	color: #FFF;
}


.vm_text {
	font-weight: 300;
	font-size: 38px;
	line-height: 43px;
	color: #333;
}
.top_border{ border-top:#999 1px solid; margin-top:50px; padding-bottom:10px;}

/*//////////////*/
/*Data Preloader*/
/*//////////////*/

#preloader {
	position:fixed;
	z-index:2500;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#FFF; 
	z-index:999999; 
}

#status {
	position: fixed;
	z-index: 999999;
	width: 250px;
	height: 250px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/301.html);
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center;
	margin: -125px 0 0 -125px;
}

#status p{
	top:60%;
}

#status em{
	font-size:10px!important;
	display:block;
	font-style:normal;
}

.nav-pills > li {font-size:11px; color:#333; width:100%;}
.nav-pills > li > a{font-size:11px; color:#333;}
.nav-pills > li > ul > a{font-size:11px; color:#333;}
.dropdown-menu2 > li > a{font-size:11px; color:#333;}
.dropdown-menu2 > li {font-size:11px; color:#333; width:100%; text-align:center; display:inline-block}






	
	
	
.btn { display: inline-block; font-size: 12px; line-height: 12px; font-weight: 400; color: #fff; text-transform: uppercase; margin-bottom: 10px; margin-right: 27px; border-radius: 3px; }

.btn.color-8 { background: #8F1111; border: 1px solid #8F1111; }

.btn.color-8 .fa { color: #FFFFFF; font-size:15px; margin-right: 0px; }

.btn.size-5 { font-size: 10px; line-height: 10px; padding: 8px 10px 8px 10px; margin-right: 0px; }

.btn.active { box-shadow: none; }

.btn.hover-1:hover, .btn.hover-1.active { background: transparent; border: 1px solid #8F1111; color: #0d58c8; }

.btn.hover-1:hover .fa, .btn.hover-1.active .fa { color: #8F1111; }

.btn.full { width: 100%; margin-right: 0px; }

.btn.btn-right { float: right; margin-right: 0px; margin-left: 20px; }

.btn.btn-input { margin-top: 33px; }

.btn .fa { margin-right: 10px; }

#section_two.page-section{	
	padding: 100px 0;
	background-color: #f9f4e6;

	}

#section_two h3 {
    font-size: 35px;
    color: #000;
    line-height: 42px;
    padding: 0px;
    margin: 40px 0px 20px 0px;
	font-family: "Open Sans", arial, sans-serif;
    letter-spacing: 0.03em;
	font-weight:700;
	font-style:italic;
	color:#f1b92d;
}



#section_two p {
    font-family: "Open sans", sans-serif;
    font-size: 19px;
    line-height: 27px;
	font-weight:400;
	font-style:italic;
    color: #444444;
    margin-bottom: 20px;
}




.do_float {
    float: left;
    margin: 10px 20px 10px 0px;
}

.do_float1 {
    float: left;
    margin: 10px 15px 10px 0px;
}



.h_light{ background-color:#E8F6FD; padding:15px; margin-bottom:10px;}






/*theme section*/

.theme_wrap1{
	float:left;
	width:100%;
	padding:2%;
	margin-top:10px;
	margin-bottom:20px;	
    background-size: cover;
    background-attachment: scroll;
	background-image: url(../images/pattern2.png);
	background-position: left top;
    background-repeat: no-repeat;
}

.theme_wrap2{
	float:left;
	width:100%;
	padding:2%;
	margin-top:10px;
	margin-bottom:20px;	
    background-size: cover;
    background-attachment: scroll;
	background-image: url(../images/theme_bg2.html);
	background-position: left top;
    background-repeat: no-repeat;
}


.theme_wrap3{
	float: left;
	width: 100%;
	height:auto;
	padding: 2%;
	margin-top: 10px;
	margin-bottom: 20px;
	background-size: cover;
	background-attachment: scroll;
	background-image: url(../images/theme_bg3.html);
	background-position: left center;
	background-repeat: no-repeat;
}


.theme_wrap4{
	float:left;
	width:100%;
	padding:2%;
	margin-top:10px;
	margin-bottom:20px;	
    background-size: cover;
    background-attachment: scroll;
	background-image: url(../images/theme_bg4.html);
	background-position: left top;
    background-repeat: no-repeat;
}




.thm_txt1{ font-size:30px; font-weight:400; color:#FFF;}
.thm_txt1_blk{font-size: 30px; font-weight: 400; color: #000;}

.thm_txt2{
	font-size: 16px;
	font-weight: 400;
	line-height:22px;
	color: #25ace3;
	padding-left: 25px;
	background-image: url(../images/arrow.html);
	background-repeat: no-repeat;
	background-position: left 2px;
}
.thm_txt3{ font-size:35px; font-weight:400; color:#25ace3;}
.thm_txt4{font-weight: 400; font-size: 15px; line-height:20px; color: #0772BA; }
.thm_txt5{font-weight: 300; font-size: 20px; line-height:25px; color: #09AEED; }

.thm_txt6{font-size: 16px; font-weight: 400; line-height:22px; color: #25ace3;}
.thm_txt7{font-weight: 400; font-size: 15px; line-height:20px; color: #0772BA; padding-top:0px; margin-top:0px; }




.wht_bg{ background-color:#FFF; padding-top:10px; padding-bottom:10px; opacity:0.98; }
.padding_left{ padding-left:25px;}
