@charset "UTF-8";
	.pageContent {
	width: 231px;
}
	.accordion {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0;
}
	.accordion ul {
	padding: 0;
	float: left;
	display: block;
	width: 100%;
	margin: 0;
}
	.accordion li {
	cursor: pointer;
	list-style-type: none;
	padding: 0;
	float: left;
	display: block;
	width: 100%;
	margin: 0;
}
	.accordion li.active>a {
	color: #FFF;
	background-image: url(img/arrow.png);
	background-repeat: no-repeat;
	background-position: left center;
}
	.accordion li div {
	padding: 20px;
	display: block;
	clear: both;
	float: left;
	width: 360px;
}
	.accordion a {
	text-decoration: none;
	display: block;
	cursor: pointer;
	background: url('open.html') no-repeat center right;
	font-size: 14px;
	line-height: 33px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #1671C2;
	color: #5486b5;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
}

.accordion li a{
	padding-left: 15px;
}
	/* Level 2 */

.accordion li ul li a{
	color: #7dacd8;
	font-size: 12px;
	padding-left: 15px;
}
	.accordion li ul li {
	font-size: 14px;
	background-image: url(img/menu_sub.jpg);
	background-repeat: repeat-y;
	height: auto;
	width: 231px;
}
