body {
	margin: 0px;
	padding: 0px;
	background-color: #cdcdcd;
	font-family: 'DaxRegular', Verdana, Geneva, sans-serif;
	
}
.main_wrap {
	float: left;
	width: 1000px;
}
.content {
	float: left;
	height: auto;
	width: 531px;
	background-color: #FFF;
	padding: 20px;
	
}
.main_menu {
	float: left;
	height: 100%;
	width: 244px;
	background-repeat: repeat-y;
}
.logo {
	background-image: url(img/logo.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 143px;
	width: 244px;
}
.menu_top {
	background-image: url(img/menu_top.jpg);
	float: left;
	height: 20px;
	width: 244px;
}
.descript {
	float: left;
	height: 700px;
	width: 155px;
	background-repeat: repeat-y;
}
.menu_frm {
	float: left;
	height: auto;
	width: 244px;
}
.rght_bdr {
	float: left;
	height: 700px;
	width: 30px;
}
.dscrpt_frm {
	float: left;
	height: auto;
	width: 155px;
	margin-top: 12px;
	text-transform: uppercase;
}
.des_plc {
	font-size: 20px;
	color: #FFF;
	margin-left: 5px;
}
#des_head {
	font-family: 'DaxRegular', Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #CCC;
	margin-top: 10px;
	line-height: 15px;
	margin-right: 15px;
	margin-left: 5px;
}
.des_cont {
	font-family: 'DaxRegular', Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #CCC;
	margin-top: 5px;
	position: absolute;
	bottom: 60px;
	text-align: center;
}

.des_contb {
	margin-top: 5px;
	position: absolute;
	bottom: 15px;
	right: 50px;

}
.rght_wrap {
	float: left;
	width: 429px;
	position: fixed;
	background-image: url(img/rght_bg.jpg);
	background-repeat: repeat-y;
	top: 0px;
	left: 571px;
}
.dots {
	background-image: url(img/dots.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
