@charset "UTF-8";
.th1 {
	font-size: 20px;
	color: #005BAA;
	padding: 0px;
margin:0px;
line-height: 20px;
}
.th2 {
	font-size: 16px;
	color: #005BAA;
	margin: 0px;
	padding: 0px;
	line-height: 20px;
}
.th3 {
	font-size: 14px;
	color: #333;
	margin: 0px;
	padding: 0px;
	line-height: 20px;
}
.th4 {
	font-size: 13px;
	color: #005BAA;
	line-height: 20px;
}
.th4_g {
	font-size: 13px;
	color: #41AD49;
	line-height: 20px;
}
.th5 {
	font-size: 12px;
	font-weight: bold;
	color: #333;
	line-height: 20px;
}
.th6 {
	font-size: 11px;
	/* font-style: italic; */
	line-height: 20px;
}
p {
	font-size: 11px;
	color: #666;
	margin-top: 0px;
	line-height: 20px;
}
blockquote {
	margin:0px;
	padding:0px;

	font-size: 16px;
	color: #005BAA;
	font-family: Dax-LightItalic;
	line-height: 20px;
}
ul {
	font-size: 11px;
	color: #666;
	list-style-type: square;
	padding-left: 10px;
	line-height: 20px;
}
ul li {
	padding-left: 10px;
	line-height: 20px;
}
.r_list {
	font-size: 13px;
	list-style-type: disc;
	line-height: 20px;
}

.block {margin:0px;
	padding:0px;
	font-size: 16px;
	color: #999;
	font-family: Dax-Light;line-height: 20px;}
	
.fbox {
	background-color:#005BAB;
	width:150px;
	padding:10px;
	float: right;
}
.ftitle {color:#FFF;font-family: 'DaxRegular',Verdana, Geneva, sans-serif;line-height: 20px;}

.ftitleb {
	color:#FFF;
	font-family: 'DaxRegular', Verdana, Geneva, sans-serif;
	font-size: 10px;
}
#fleft {
	margin: 10px;
	width: 530px;
	/* [disabled]float: left; */
	color:#005BAA;
	font-family: 'DaxRegular', Verdana, Geneva, sans-serif;
	font-size: 12px;
	clear: none;
}

#fright {
	margin: 10px;
	clear: both;
	/* [disabled]float: left; */
	width: 210px;
	color:#666;
	font-family: 'DaxRegular', Verdana, Geneva, sans-serif;
	font-size: 12px;
	display: block;
}

.d_head {
	font-family: 'DaxRegular', Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #666;line-height: 20px;
	

}

.sign {
	font-size: 11px;
	color: #666;
	line-height: 20px;
}
